# SERVER = 'http://api.cn.faceplusplus.com/'
# uncomment the following line to switch to US server
# Use amazon server
SERVER = 'https://apius.faceplusplus.com/v2/'

API_KEY = 'e1d9111d1021ecdc58805f48310256c3'
API_SECRET = 'AUc39DCH4CP0hPrm54ZQo22HWpO_6aSJ'
